<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartCloud AI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/dropzone.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(315deg, rgb(26, 3, 71) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgb(172, 101, 101) 98%);
            color: #333;
            overflow: auto;
            animation: gradient 15s ease infinite;
            margin: 0;
            background-size: 400% 400%;
            background-attachment: fixed;
            padding: 0;
            box-sizing: border-box;
            height: 10vh;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 0%;
            }

            50% {
                background-position: 100% 100%;
            }

            100% {
                background-position: 0% 0%;
            }
        }

        .wave {
            background: rgb(255 255 255 / 25%);
            border-radius: 1000% 1000% 0 0;
            position: fixed;
            width: 200%;
            height: 12em;
            animation: wave 10s -3s linear infinite;
            transform: translate3d(0, 0, 0);
            opacity: 0.8;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        .wave:nth-of-type(2) {
            bottom: -1.25em;
            animation: wave 18s linear reverse infinite;
            opacity: 0.8;
        }

        .wave:nth-of-type(3) {
            bottom: -2.5em;
            animation: wave 20s -1s reverse infinite;
            opacity: 0.9;
        }

        @keyframes wave {
            2% {
                transform: translateX(1);
            }

            25% {
                transform: translateX(-25%);
            }

            50% {
                transform: translateX(-50%);
            }

            75% {
                transform: translateX(-25%);
            }

            100% {
                transform: translateX(1);
            }
        }

        .navbar-custom {
            background-color: #ffffff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            font-weight: bold;
            color: #007bff;
        }

        .navbar-nav .nav-link {
            color: #007bff;
            transition: color 0.3s ease;
        }

        .navbar-nav .nav-link:hover {
            color: #0056b3;
        }

        .btn-outline-primary {
            border-color: #007bff;
            color: #007bff;
        }

        .btn-outline-primary:hover {
            background-color: #007bff;
            color: #ffffff;
        }

        .container {
            padding-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .file-upload-wrapper {
            background-color: #ffffff;
            border: 2px dashed #007bff;
            border-radius: 10px;
            padding: 40px;
            width: 500px;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
        }

        .file-upload-wrapper:hover {
            border-color: #0056b3;
        }

        h2,
        p {
            text-align: center;
        }

        h2 {
            color: #007bff;
        }

        p {
            color: #0056b3;
        }

        .fallback {
            width: 100%;
            text-align: center;
        }

        .fallback input[type="file"] {
            margin-bottom: 20px;
        }

        .fallback input[type="submit"] {
            background: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .fallback input[type="submit"]:hover {
            background: #0056b3;
        }

        @media (max-width: 768px) {
            .file-upload-wrapper {
                width: 100%;
            }
        }

        @media (max-width: 991.98px) {
            .navbar-nav .nav-item {
                padding: 10px 0;
            }
        }

        @media (max-width: 767.98px) {
            .navbar-brand img {
                width: 40px;
            }

            .navbar-collapse {
                background-color: #f8f9fa;
            }

            .navbar-nav .nav-link {
                color: #007bff;
            }

            .navbar-nav .nav-link:hover {
                color: #0056b3;
            }

            .navbar-nav.ms-auto {
                margin-left: auto;
            }
        }

        #imageContainer img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        h1 {
            text-align: center;
            color: #fff;
        }

        .grid {
            display: flex;
            justify-content: center;
            /* Center the cards horizontally */
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
            /* Add some space between the cards */
        }

        .card {

            height: 500px;
            background-color: #fff;
            color: #100291;
            border-radius: 10px;
            padding: 30px;
            margin: 10px;
            text-align: center;
            width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .icon {
            display: block;
            margin: 0 auto;
            width: 30px;
            height: 30px;
        }

        h4 {
            margin: 10px 0;
        }

        p {
            color: #555;
        }

        .day-night {
            display: flex;
            align-items: center;
            color: #fff;
            margin-top: 20px;
        }

        .day-night input {
            margin-right: 10px;
        }

        .cta-button {
            display: inline-block;
            padding: 15px 30px;
            background-color: #fff;
            color: #100291;
            text-decoration: none;
            width: 200px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            border-radius: 5px;
            transition: background-color 0.3s ease-in-out;
        }

        .cta-button:hover {
            background-color: #100291;
            color: #fff;
        }

        .form-card {
            background-color: #fff;
            color: #100291;
            border-radius: 10px;
            padding: 20px;
            margin: 20px;
            text-align: center;
            width: 300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .file {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 0 auto;
        }

        .file h1 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
            color: #3e3b98;
        }

        .file textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: vertical;
            font-family: 'Courier New', Courier, monospace;
            font-size: 16px;
            line-height: 1.5;
        }

        .file button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .file button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>

    <nav style="box-shadow: 10px 10px 10px rgb(57, 57, 61);" class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container-fluid">
            <img src="logo.ico" alt="Logo" width="44px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/funcCloud"><i class="fas fa-cloud"></i> Cloud</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/app"><i class="fas fa-mobile-alt"></i> App Cloud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fileshare"><i class="fas fa-file-alt"></i> File/App Share</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ucfmAi"><i class="fas fa-robot"></i> AI Image Generator</a>
                    </li>
                    <li >
                        <a class="nav-link" href="/chatAi"><i class="fas fa-comments"></i> Virtual assistant    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/func2"><i class="fas fa-edit"></i> Edit Files</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fileGenerator"><i class="fas fa-robot"></i> AI File Generator</a>
                    </li>
                </ul>
                <form class="d-flex ms-auto">
                    <a href="/suport" class="btn btn-outline-primary">Instructions and support</a>
                    <a href="/logout" class="btn btn-outline-primary" type="submit">Logout</a>
                </form>
            </div>
        </div>
    </nav>



    <div style="padding: 130px;" class="file">
        <!---<input type="file" id="fileInput">-->
        <h1><b>Write and Take ✏️</b></h1>
        <p style="color: #0056b3;">You can use this editor for various functions</p>
        <br>
        <textarea style="color: blue; background: linear-gradient(120deg, #7396cd, #1b44b7);" id="fileContent" rows="10"
            cols="50"></textarea>
        <br>
        <button onclick="saveFile()">Save</button>
    </div>

    <script>
        document.getElementById('fileInput').addEventListener('change', function () {
            var file = this.files[0];
            var reader = new FileReader();

            reader.onload = function (event) {
                document.getElementById('fileContent').value = event.target.result;
            };

            reader.readAsText(file);
        });

        function saveFile() {
            var content = document.getElementById('fileContent').value;
            var fileName = prompt("File name...? :");
            var fileExtension = prompt("Type the FileType you want to give it (eg 'txt' or 'py'...):");

            if (fileName && fileExtension) {
                var blob = new Blob([content], { type: 'text/plain' });
                var a = document.createElement('a');
                a.href = window.URL.createObjectURL(blob);
                a.download = fileName + '.' + fileExtension;
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            }
        }


    </script>



</body>

</html>